@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap');

body {
  font-family: "Inter";
  background-image: linear-gradient(#228899, #882299);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#particles-js {
  width:100%;
  height:100%;
  z-index: 0;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
}

input[type="text"], input[type="password"], select {
  background-color: #FFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  width: auto;
  min-width: 250px;
}

.section {
  background-color: #F2F2F2;
  max-width: 600px;
  width: auto;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

h3, p {
  margin: 0;
  line-height: 30px;
}

p {
  font-size: 15px;
}

a, button {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}

a {
  border-radius: 5px;
  background-color: #FFFFFF;
}

a:hover, button:hover, button:disabled {
  border-top: none;
  background-color: #F8F8F8;
  cursor: pointer;
}

.acceptButton:hover, .requestButton:hover {
  cursor: pointer;
}
